<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
	<!--삽입 삭제-->
	<div class="col-lg-2">
		<label for="exampleSelect1" class="form-label mt-4">코인 리스트</label>
      		<!--전체 심볼-->
      	<select class="form-select" id="symbolSelect"></select>

		<fieldset disabled="">
    		<label class="form-label" for="disabledInput"></label>
    		<input class="form-control" id="symbolText" type="text" placeholder="" disabled="">
  		</fieldset>
  			<br/>
  		<button type="button" id="addSymbol" class="btn btn-primary">저장</button>
			<br/>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="symbol Name" id="searchText">
      		<button class="btn btn-primary" type="button" id="symbolSearch">검색</button>
    	</div>
	</div>
	
	<!-- 현재 포지션-->
	<div class="col-lg-6">
	</div>
	
	<!-- 오늘 포지션 his(날짜는 추후 도입)-->
	<div  class="col-lg-4">
		<table class="table table-hover" id="history">
						<thead>
							<tr>
								<th scope="col" data-sort="idx"></th>
								<th scope="col" data-sort="symbol">심볼</th>
								<th scope="col" data-sort="openTime">오픈 시간</th>
								<th scope="col" data-sort="openPrice">오픈 가격</th>
								<th scope="col" data-sort="closeTime">닫은 시간</th>
								<th scope="col" data-sort="closePrice">닫은 가격</th>
								<th scope="col" data-sort="percent">%</th>
								<th scope="col" data-sort="trnad">trand</th>
							</tr>
						</thead>
						<tbody id="historyBody">
						
						</tbody>
					</table>
	</div>
</div>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	let allSymbolList = [];  // 전역 변수
}
//select 선택 시 text박스에 넣기
$('#symbolSelect').on('change', function(){
	var val = $(this).val();
	$('#symbolText').val(val);
})

//전체 심볼 가져오기
function allTicker(){
	$.ajax({
		url : "/allTicket",
		dataType : "json",
		success : function(data){
			allSymbolList = data;
			disp = "";
			$(data).each(function(idx, item){
				disp += "<option value="+item.symbol+">"+item.symbol+"</option>"
			})
			$("#symbolSelect").html(disp);
		}
	})
}

$('#symbolSearch').on('click', function(){
	var symbol = $('#searchText').val().toUpperCase();

	if (!symbol.endsWith("USDT")) {
		symbol += "USDT";
	}
	console.log("검색 심볼 : " + symbol)
	var isSymbol = false;
	$(allSymbolList).each(function(idx, item){
		if(symbol === item.symbol){
			isSymbol = true;
			return;
		}
	})
	if(isSymbol === true){
		$('#symbolText').val(symbol);
	}else{
		alert("없는 심볼");
	}
})

function toMySqlDateTime(date) {
    const pad = (n) => n < 10 ? '0' + n : n;
    return date.getFullYear() + '-' +
           pad(date.getMonth() + 1) + '-' +
           pad(date.getDate()) + ' ' +
           pad(date.getHours()) + ':' +
           pad(date.getMinutes()) + ':' +
           pad(date.getSeconds());
}

function getHistory(){
	// 현재 시간
	const now = new Date();
	const nowStr = toMySqlDateTime(now);
	
	// 오늘 9시 00분
	const today9am = new Date();
	today9am.setHours(9, 0, 0, 0);
	const todayStr = toMySqlDateTime(today9am);
	
	$.ajax({
		url : "/getHistory",
		type : "get",
		data : {"startDate" : nowStr,
					"endDate" : todayStr,
					},
		success : function(data){
			
		}
		
	})
}
</script>
</th:block>

</html>
