 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
	
	<!--삽입 삭제-->
	<div class="col-lg-2">
		
		<label for="exampleSelect1" class="form-label mt-4">코인 리스트</label>
      		<!--전체 심볼-->
      		<select class="form-select" id="symbolSelect"></select>

	<fieldset disabled="">
    	<label class="form-label" for="disabledInput"></label>
    	<input class="form-control" id="symbolText" type="text" placeholder="" disabled="">
  	</fieldset>
  	<br/>
  	<button type="button" id="addSymbol" class="btn btn-primary">저장</button>
	<br/>
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="symbol Name" id="searchText">
      	<button class="btn btn-primary" type="button" id="symbolSearch">검색</button>
    </div>
    
	</div>
	<!--삽입 삭제-->
	<!-- 전체 목록-->
	<div class="col-lg-6">
		<table class="table table-hover" id="ticker">
			<thead>
				<tr>
					<th scope="col">심볼</th>
					<th scope="col">가격</th>
					<th scope="col">24H%</th>
					<th scope="col">1분</th>
					<th scope="col">5분</th>
					<th scope="col">15분</th>
					<th scope="col" style="width: 130px;"></th>
				</tr>
			</thead>
			<tbody id="tickerBody">
			
			</tbody>
		</table>
	</div>
	<!-- 전체 목록-->
	
	<!-- 개별 상세보기-->
	<div  class="col-lg-4">
		
 		<ul class="list-group" style="padding-top: 30px;" id="detailGroup">
	 		
		</ul>
		<br/>
		<button type="button" class="btn btn-danger btn-lg">삭제</button>
	</div>
	<!-- 개별 상세보기-->
	
</div>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	let allSymbolList = [];  // 전역 변수
	getTicker();
	allTicker();
}

//select 선택 시 text박스에 넣기
$('#symbolSelect').on('change', function(){
	var val = $(this).val();
	$('#symbolText').val(val);
})


//전체 심볼 가져오기
function allTicker(){
	$.ajax({
		url : "/allTicket",
		dataType : "json",
		success : function(data){
			allSymbolList = data;
			disp = "";
			$(data).each(function(idx, item){
				disp += "<option value="+item.symbol+">"+item.symbol+"</option>"
			})
			$("#symbolSelect").html(disp);
		}
	})
}
//레디스에 저장된 심볼 데이터 테이블 가져오기
function getTicker(){
	$.ajax({
		url : "/getTicker",
		dataType : "json",
		success : function(data){
			console.log("getTicker : " + data);
			tickerTable(data);
		}
	})
}

//선택된 심볼 레디스에 저장하기
$('#addSymbol').on('click', function(){
	var confirm_val = confirm("저장 하시겠습니까?");
	if(confirm_val){
		var symbol = $('#symbolText').val();
		if (!symbol || symbol.trim() === "") {
		    alert("symbol 잘못된 값");
		    return;
		    
		}
		$.ajax({
			url : "/addSymbol",
			type : "get",
			data : {"symbol" : symbol},
			success : function(data){
				if(data === "fail"){
					alert("이미 있음");
					return;
				}
				getTicker();
			}
		})
	}	
})

$('#symbolSearch').on('click', function(){
	var symbol = $('#searchText').val().toUpperCase();

	if (!symbol.endsWith("USDT")) {
		symbol += "USDT";
	}
	console.log("검색 심볼 : " + symbol)
	var isSymbol = false;
	$(allSymbolList).each(function(idx, item){
		if(symbol === item.symbol){
			isSymbol = true;
			return;
		}
	})
	if(isSymbol === true){
		$('#symbolText').val(symbol);
	}else{
		alert("없는 심볼");
	}
})


//data.tickerList.forEach(function(item)
 function tickerTable(data){
	 disp = "";
	$(data).each(function(idx, item){
		 tableColor = "";
		 if(item.m15_trand == "short"){
			 tableColor = "table-danger";
		 }else if(item.m15_trand == "long"){
			 tableColor = "table-success";
		 }else if(item.m15_trand == "none"){
			 tableColor = "table-primary";
		 }
		 disp += "<tr class='"+tableColor+"'>";
		 disp += "<th scope='row' style='cursor:pointer' onclick='copyToClipboard(\"" + item.symbol + ".P\")'>" + item.symbol + "</th>";
		 disp += "<th scope='row'>"+item.lastPrice+"</th>";
		 disp += "<th scope='row'>"+item.priceChangePercent+"%</th>";
		 disp += "<th scope='row'>"+item.m1_trand+"</th>";
		 disp += "<th scope='row'>"+item.m5_trand+"</th>";
		 disp += "<th scope='row'>"+item.m15_trand+"</th>";
		 disp += "<th scope='row'><button type='button' class='btn btn-secondary' data-id='"+item.symbol+"' name='detailBtn'>상세보기</button></th>";
		 disp += "</tr>";
		 
	 })
	 $("#tickerBody").html(disp);
}; 

//상세보기
$(document).on("click", "[name='detailBtn']", function(){
	console.log("상세보기버튼");
	symbol = $(this).data("id");
		$.ajax({
		url : "/symbolDetail",
		dataType : "json",
		data : {"symbol" : symbol},
		success : function(data){
			var groupClass = "";
			disp = "<h1>"+data.price+"</h1>";
			
			if(data.price > data.m5_ema25){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
			disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 EMA25</h4>";
		    disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_ema25+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m5_ema99){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		  	disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 EMA99</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_ema99+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m15_ema25){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		  	disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 EMA25</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_ema25+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m15_ema99){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 EMA99</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_ema99+"</h5></span>";
		    disp += "</li>";
		    
		    if(0 < data.m5_qqe){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 QQE</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_qqe+"</h5></span>";
		    disp += "</li>";
		    
		    if(0 < data.m15_qqe){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 qqe</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_qqe+"</h5></span>";
		    disp += "</li>";
		    
		  	$("#detailGroup").html(disp);
		}
	})
});



</script>
</th:block>

</html>
