<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
	<div class="col-lg-2"></div>
	<div class="col-lg-6">
	
	<table class="table table-hover" id="ticker">
		<thead>
			<tr>
				<th scope="col">심볼</th>
				<th scope="col">가격</th>
				<th scope="col">24H%</th>
				<th scope="col">1분</th>
				<th scope="col">5분</th>
				<th scope="col">15분</th>
			</tr>
		</thead>
		<tbody id="tickerBody">
		
		</tbody>
	</table>
	</div>
	
	 	<div  class="col-lg-4">
 	zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
	</div>
</div>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	getTicker();allTicker();
}

function allTicker(){
	$.ajax({
		url : "/allTicket",
		dataType : "json",
		success : function(data){
			
		}
	})
}
function getTicker(){
	$.ajax({
		url : "/getTicker",
		dataType : "json",
		success : function(data){
			tickerTable(data);
		}
	})
}

 function tickerTable(data){
	 disp = "";
	 //console.log(data);
	 //console.log(JSON.stringify(data));
	 
	 data.tickerList.forEach(function(item){
		 tableColor = "";
		 if(item.m15_trand == "short"){
			 tableColor = "table-danger";
		 }else if(item.m15_trand == "long"){
			 tableColor = "table-success";
		 }else if(item.m15_trand == "none"){
			 tableColor = "table-primary";
		 }
		 disp += "<tr class='"+tableColor+"'>";
		 disp += "<th scope='row' style='cursor:pointer' onclick='copyToClipboard(\"" + item.symbol + ".P\")'>" + item.symbol + "</th>";
		 disp += "<th scope='row'>"+item.lastPrice+"</th>";
		 disp += "<th scope='row'>"+item.priceChangePercent+"%</th>";
		 disp += "<th scope='row'>"+item.m1_trand+"</th>";
		 disp += "<th scope='row'>"+item.m5_trand+"</th>";
		 disp += "<th scope='row'>"+item.m15_trand+"</th></tr>";
	 })
	/* data.topTicker.forEach(function(item){
		 disp += "<tr class='table-secondary'>";
		 disp += "<th scope='row' style='cursor:pointer' onclick='copyToClipboard(\"" + item.symbol + ".P\")'>" + item.symbol + "</th>";
		 disp += "<th scope='row'>"+item.lastPrice+"</th>";
		 disp += "<th scope='row'>"+item.priceChangePercent+"%</th>";
		 disp += "<th scope='row'>"+item.m1_trand+"</th>";
		 disp += "<th scope='row'>"+item.m5_trand+"</th>";
		 disp += "<th scope='row'>"+item.m15_trand+"</th></tr>";
	 })*/
	 $("#tickerBody").html(disp);
}; 
</script>
</th:block>

</html>
