 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
	
	<!--삽입 삭제-->
	<div class="col-lg-2">
		
		<label for="exampleSelect1" class="form-label mt-4">코인 리스트</label>
      		<!--전체 심볼-->
      	<select class="form-select" id="symbolSelect"></select>

		<fieldset disabled="">
    		<label class="form-label" for="disabledInput"></label>
    		<input class="form-control" id="symbolText" type="text" placeholder="" disabled="">
  		</fieldset>
  			<br/>
  		<button type="button" id="addSymbol" class="btn btn-primary">저장</button>
			<br/>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="symbol Name" id="searchText">
      		<button class="btn btn-primary" type="button" id="symbolSearch">검색</button>
    	</div>
    
	</div>
	<!--삽입 삭제-->
	
	
	<!-- 전체 목록-->
	<div class="col-lg-6">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
			    <a class="nav-link active" data-bs-toggle="tab" href="#custom" aria-selected="true" role="tab">Custom</a>
			 </li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#volum" aria-selected="false" role="tab" tabindex="-1">TopVolum</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#percent" aria-selected="false" role="tab" tabindex="-1">TopPercent</a>
			</li>
		</ul>
		<!--custom start-->
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active show" id="custom" role="tabpanel">
				<p>
					<table class="table table-hover" id="ticker">
						<thead>
							<tr>
								<th scope="col" data-sort="symbol">심볼</th>
								<th scope="col" data-sort="price">가격</th>
								<th scope="col" data-sort="percent">24H%</th>
								<th scope="col" data-sort="vol">거래량(USDT)</th>
								<th scope="col" data-sort="m1">1분</th>
								<th scope="col" data-sort="m5">5분</th>
								<th scope="col" data-sort="m15">15분</th>
								<th scope="col" style="width: 130px;"></th>
							</tr>
						</thead>
						<tbody id="tickerBody">
						
						</tbody>
					</table>
				</p>
			</div>
		<!--custom end-->
		<!--volum start -->
			<div class="tab-pane fade" id="volum" role="tabpanel">
			    <p>
					<table class="table table-hover" id="topVolum">
						<thead>
							<tr>
								<th scope="col" data-sort="symbol">심볼</th>
								<th scope="col" data-sort="price">가격</th>
								<th scope="col" data-sort="percent">24H%</th>
								<th scope="col" data-sort="vol">거래량(USDT)</th>
								<th scope="col" data-sort="m1">1분</th>
								<th scope="col" data-sort="m5">5분</th>
								<th scope="col" data-sort="m15">15분</th>
								<th scope="col" style="width: 130px;"></th>
							</tr>
						</thead>
						<tbody id="topVolumBody">
						</tbody>
					</table>
				</p>
			</div>
		<!--volum end-->
		<!--percent start-->
			<div class="tab-pane fade" id="percent" role="tabpanel">
			    <p>
					<table class="table table-hover" id="topPercent">
						<thead>
							<tr>
								<th scope="col" data-sort="symbol">심볼</th>
								<th scope="col" data-sort="price">가격</th>
								<th scope="col" data-sort="percent">24H%</th>
								<th scope="col" data-sort="vol">거래량(USDT)</th>
								<th scope="col" data-sort="m1">1분</th>
								<th scope="col" data-sort="m5">5분</th>
								<th scope="col" data-sort="m15">15분</th>
								<th scope="col" style="width: 130px;"></th>
							</tr>
						</thead>
						<tbody id="topPercentBody">
						</tbody>
					</table>
				</p>
			</div>
		<!--percent end-->
		</div>
	</div>
	<!-- 전체 목록-->
	
	<!-- 개별 상세보기-->
	<div  class="col-lg-4">
		
 		<ul class="list-group" style="padding-top: 30px;" id="detailGroup"></ul>
		<br/>
		
	</div>
	<!-- 개별 상세보기-->
	
</div>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	let allSymbolList = [];  // 전역 변수
	getTicker();
	allTicker();
	getPercent();
	getVolum();
	
	   // 1분마다 반복 실행
    setInterval(() => {
		console.log("1분 실행 완료")
        getTicker();
        allTicker();
        getPercent();
        getVolum();
    }, 60000); // 60000ms = 1분
}

//select 선택 시 text박스에 넣기
$('#symbolSelect').on('change', function(){
	var val = $(this).val();
	$('#symbolText').val(val);
})


//전체 심볼 가져오기
function allTicker(){
	$.ajax({
		url : "/allTicket",
		dataType : "json",
		success : function(data){
			allSymbolList = data;
			disp = "";
			$(data).each(function(idx, item){
				disp += "<option value="+item.symbol+">"+item.symbol+"</option>"
			})
			$("#symbolSelect").html(disp);
		}
	})
}
//레디스에 저장된 심볼 데이터 테이블 가져오기
function getTicker(){
	$.ajax({
		url : "/getTicker",
		dataType : "json",
		success : function(data){
			tickerTable(data, "tickerBody");
		}
	})
}

//거래량 상위 20 symbol 데이터 테이블 가져오기
function getVolum(){
	$.ajax({
		url : "/getTopVolum",
		dataType : "json",
		success : function(data){
			tickerTable(data, "topVolumBody");
		}
	})
}

//%상위 20 심볼 데이터 테이블 가져오기
function getPercent(){
	$.ajax({
		url : "/getTopPercent",
		dataType : "json",
		success : function(data){
			tickerTable(data, "topPercentBody");
		}
	})
}
//선택된 심볼 레디스에 저장하기
$('#addSymbol').on('click', function(){
	var confirm_val = confirm("저장 하시겠습니까?");
	if(confirm_val){
		var symbol = $('#symbolText').val();
		if (!symbol || symbol.trim() === "") {
		    alert("symbol 잘못된 값");
		    return;
		    
		}
		$.ajax({
			url : "/addSymbol",
			type : "get",
			data : {"symbol" : symbol},
			success : function(data){
				if(data === "Fail"){
					alert("이미 있음");
					return;
				}
				alert("심볼 추가 완료")
				getTicker();
			}
		})
	}	
})

$('#symbolSearch').on('click', function(){
	var symbol = $('#searchText').val().toUpperCase();

	if (!symbol.endsWith("USDT")) {
		symbol += "USDT";
	}
	console.log("검색 심볼 : " + symbol)
	var isSymbol = false;
	$(allSymbolList).each(function(idx, item){
		if(symbol === item.symbol){
			isSymbol = true;
			return;
		}
	})
	if(isSymbol === true){
		$('#symbolText').val(symbol);
	}else{
		alert("없는 심볼");
	}
})


//data.tickerList.forEach(function(item)
 function tickerTable(data, bodyName){
	 disp = "";
	$(data).each(function(idx, item){
		 tableColor = "";
		 trand1mDisp = "";
		 trand5mDisp = "";
		 trand15mDisp = "";
		 
		 if(item.m1_trand === "None"){ trand1mDisp = "<span class='badge bg-primary'>"; }
		 else if (item.m1_trand === "Short"){ trand1mDisp = "<span class='badge bg-danger'>";
		 }else{ trand1mDisp = "<span class='badge bg-success'>";}
		 if(item.m5_trand === "None"){ trand5mDisp = "<span class='badge bg-primary'>";}
		 else if (item.m5_trand === "Short"){trand5mDisp = "<span class='badge bg-danger'>";
		 }else{trand5mDisp = "<span class='badge bg-success'>";}
		 if(item.m15_trand === "None"){trand15mDisp = "<span class='badge bg-primary'>";}
		 else if (item.m15_trand === "Short"){trand15mDisp = "<span class='badge bg-danger'>";}
		 else{trand15mDisp = "<span class='badge bg-success'>";}
			 
		 if(item.m15_trand == "short"){tableColor = "table-danger";
		 }else if(item.m15_trand == "long"){ableColor = "table-success";
		 }else if(item.m15_trand == "none"){tableColor = "table-primary";
		 }
		 disp += "<tr class='"+tableColor+"'>";
		 disp += "<th scope='row' style='cursor:pointer' onclick='copyToClipboard(\"" + item.symbol + ".P\")'>" + item.symbol + "</th>";
		 disp += "<th scope='row'>"+item.lastPrice+"</th>";
		 disp += "<th scope='row'>"+item.priceChangePercent+"%</th>";
		 disp += "<th scope='row'>"+item.quoteVolume+"</th>";
		 disp += "<th scope='row'>"+trand1mDisp+item.m1_trand+"</span></th>";
		 disp += "<th scope='row'>"+trand5mDisp+item.m5_trand+"</th>";
		 disp += "<th scope='row'>"+trand15mDisp+item.m15_trand+"</th>";
		 disp += "<th scope='row'><button type='button' class='btn btn-secondary' data-id='"+item.symbol+"' name='detailBtn'>상세보기</button></th>";
		 disp += "</tr>";
		 
	 })
	 $("#"+bodyName).html(disp);
}; 

//상세보기
$(document).on("click", "[name='detailBtn']", function(){
	console.log("상세보기버튼");
	symbol = $(this).data("id");
		$.ajax({
		url : "/symbolDetail",
		dataType : "json",
		data : {"symbol" : symbol},
		success : function(data){
			var groupClass = "";
			disp = "<h1>현재 가격 : "+data.price+"</h1><br/>";
			
			disp += "<li class='list-group-item d-flex justify-content-between align-items-center alert-secondary' style='height: 70px;'>";
			disp += "<h4>1H 매물대</h4>";
		    disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.h1_strong+"</h5></span>";
		    disp += "</li>";
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center alert-secondary' style='height: 70px;'>";
			disp += "<h4>15M 매물대</h4>";
		    disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_strong+"</h5></span>";
		    disp += "</li>";
			if(data.price > data.m5_ema25){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
			disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 EMA25</h4>";
		    disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_ema25+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m5_ema99){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		  	disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 EMA99</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_ema99+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m15_ema25){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		  	disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 EMA25</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_ema25+"</h5></span>";
		    disp += "</li>";
		  	
		    if(data.price > data.m15_ema99){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 EMA99</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_ema99+"</h5></span>";
		    disp += "</li>";
		    
		    if(0 < data.m5_qqe){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 QQE</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_qqe+"</h5></span>";
		    disp += "</li>";
		    
		    if(0 < data.m15_qqe){
				groupClass = "alert-success";
			}else{
				groupClass = "alert-danger";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 qqe</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_qqe+"</h5></span>";
		    disp += "</li>";
		    
		    if(data.m5_stc == "Long"){
				groupClass = "alert-success";
			}else if(data.m5_stc == "Short"){
				groupClass = "alert-danger";
			}else if(data.m5_stc == "None"){
				groupClass = "alert-secondary";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>5분 STC</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m5_stc+"</h5></span>";
		    disp += "</li>";
		    
		    if(data.m15_stc == "Long"){
				groupClass = "alert-success";
			}else if(data.m15_stc == "Short"){
				groupClass = "alert-danger";
			}else if(data.m15_stc == "None"){
				groupClass = "alert-secondary";
			}
		    disp += "<li class='list-group-item d-flex justify-content-between align-items-center "+groupClass+"' style='height: 70px;'>";
			disp += "<h4>15분 STC</h4>";
			disp += "<span class='badge bg-secondary rounded-pill'><h5>"+data.m15_stc+"</h5></span>";
		    disp += "</li>";
		    
		    disp += "<br/>";
		    disp += "<button type='button' class='btn btn-danger btn-lg' name='deleteBtn' data-id='"+symbol+"'>삭제</button>";
		  	$("#detailGroup").html(disp);
		}
	})
});

//삭제버튼
$(document).on("click", "[name='deleteBtn']", function(){
	var confirm_val = confirm("삭제 하시겠습니까?");
	if(confirm_val){
		symbol = $(this).data("id");
		$.ajax({
			url : "/deleteSymbol",
			dataType : "json",
			data : {"symbol" : symbol},
			success : function(data){
				alert("삭제완료");
				getTicker();
			}
		})	
	} 
	
});

//정렬
$(document).on("click", "th[data-sort]", function () {
    const $header = $(this);
    const sortKey = $header.data("sort");
    const bodyId = $header.closest("table").find("tbody").attr("id");
    const rows = $("#" + bodyId + " tr").get();

    // 이전 정렬 상태를 저장/읽기 위한 커스텀 속성
    const currentOrder = $header.data("order") || "desc"; // 기본 내림차순
    const nextOrder = currentOrder === "asc" ? "desc" : "asc";
    $header.data("order", nextOrder); // 다음 클릭을 위해 저장

    rows.sort(function (a, b) {
        const valA = $(a).find("th, td").eq($header.index()).text().replace('%', '').replace(',', '');
        const valB = $(b).find("th, td").eq($header.index()).text().replace('%', '').replace(',', '');

        const numA = parseFloat(valA) || 0;
        const numB = parseFloat(valB) || 0;

        return nextOrder === "asc" ? numA - numB : numB - numA;
    });

    $.each(rows, function (index, row) {
        $("#" + bodyId).append(row);
    });

    // 🔄 정렬 방향 표시 (선택사항)
    $("th[data-sort]").not($header).removeClass("sorted-asc sorted-desc");
    $header.removeClass("sorted-asc sorted-desc").addClass(nextOrder === "asc" ? "sorted-asc" : "sorted-desc");
});
</script>
</th:block>

</html>
