<!DOCTYPE html>
<html>


<head th:fragment="symbolFragment">

	asdasdasd
     <label for="exampleSelect1" class="form-label mt-4">symbol</label>
      <select class="form-select" id="symbolSelect">
        <option>1</option>
      </select>
    
</head>


<th:block layout:fragment="script">
<script>
window.onload = function(){
	//allTicker();
}

function allTicker(){
	$.ajax({
		url : "/allTicket",
		dataType : "json",
		success : function(data){
			console.log('allTicker : ', data);
		}
	})
}

</script>
</th:block>

</html>
