
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlans:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">	
</head> 
<div>
<header th:replace="fragments/header :: headerFragment"></header>
</div>
	<div class="row">

	
<div layout:fragment="content" class="container row">
	<!-- <div layout:fragment="symbols" class="col-lg-2">
	</div>
	
	<div layout:fragment="content" class="col-lg-6">
	</div>
	
 	<div  class="col-lg-4">
 	zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
	</div> -->

</div>


</div>
<th:block layout:fragment="script"></th:block>

</html>

