<!DOCTYPE html>
<html xmlnd:th="http://www.thymeleaf.ofg" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
	<meta charset="UTF-8"/>
	<th:block layout:fragment="css">
	<style type="text/css">

</style>
	</th:block>
	<!-- jQuery 설정 -->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>   

    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
    
    <link href="/css/template/bootstrap.css" rel="stylesheet">
    <link href="/css/template/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/template/custom.min.css" rel="stylesheet">
    <link href="/css/template/prism-okaidia.css" rel="stylesheet">
    
    <script src="/js/template/bootstrap.bundle.min.js"></script>
	<script src="/js/template/custom.js"></script>
	<script src="/js/template/prism.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/ajax.js"></script>
</head>
</html>